<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>MyanmarIME</string>
    <key>CFBundleIdentifier</key>
    <string>com.zaymann.inputmethod.MyanmarIME</string>
    <key>CFBundleName</key>
    <string>MyanmarIME</string>
    <key>CFBundleDisplayName</key>
    <string>Myanmar Romanized</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <!-- ===== InputMethodKit configuration ===== -->
    <key>InputMethodConnectionName</key>
    <string>MyanmarIME_1_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>InputController</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
    </array>

    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.zaymann.inputmethod.MyanmarIME</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.zaymann.inputmethod.MyanmarIME</string>
                <key>TISIntendedLanguage</key>
                <string>my</string>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>0</integer>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smUnicodeScript</string>
                <key>tsInputModeSuperScriptKey</key>
                <integer>0</integer>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
